[2019-09-02 17:26] razvanilin opened #1 "Colors on Pattern Bar Charts are not changing real-time on edit"
### CB version v1.0.0-beta.1

When editing the Pattern Bar Chart, the colour changes just on the first bar, the others change only when saving pressing done. See SS below:

![image](https://user-images.githubusercontent.com/5342321/64128567-cccdd580-cdbf-11e9-893a-1000db10f455.png)

I selected the back colour and the bar is still blue.

[2019-09-02 19:14] razvanilin opened #2 "Editing a connection messes up the top margin"
**Steps to reproduce**

* Create a new connection
* Edit a connection
* The top margin messes up
* Need to refresh the page to fix

![image](https://user-images.githubusercontent.com/5342321/64131082-fe01d200-cdce-11e9-892a-3e47af28df51.png)

[2019-09-23 17:42] razvanilin opened #4 "App crashes when pressing "Add more headers" in the Connection edit page"
This is the error message:

[code]

[2019-11-05 13:12] razvanilin opened #11 "Changing the project from the top navigation bar doesn't change the URL"
![image](https://user-images.githubusercontent.com/5342321/68210511-fb417a00-ffd5-11e9-86b9-9670012d9820.png)

### What happens

The project and dashboard visually change, but the URL stays the same. This causes page refreshes to go back to the previous project. Some error artefacts like the connection not appearing on the charts happen as well.

### Expected behaviour

The URL should change to po

[2019-11-26 23:19] razvanilin opened #13 "[DOCS] The front-end deployment information is not correct"
`pm2 serve` is for serving static sites and it will give a 404 if the user refreshes the page.

`pm2` should instead use the external `serve` module to serve the site and for this it needs a configuration file like so:

[code]

[2019-11-27 21:11] #13 closed

[2019-12-05 21:26] #4 closed

[2019-12-05 21:46] #2 closed

[2019-12-14 12:01] razvanilin opened #16 "Reuse data from query/api request screen while editing the chart to increase the efficiency"
### What's the issue

When a request is made using the API or Query builder the data is not used further and it causes the `preview` function to request the same data from the backend (and consequently from the connection) again.

### How can this work better

It should follow these steps:

1. Make/build query or API request
2. Request the data from the connection
3. The user goes to the Build Cha

[2019-12-14 12:25] razvanilin opened #17 "✨ New one UI interface for the AddChart container"
### Follow the design below

Completed? ❌
Code work done here: #24

https://www.figma.com/file/3Ywgwux25q5jpjOwgVt8R6/Chartbrew---AddChart-One-UI

### What

This issue will track the design and implementation of a new style of interaction when creating a chart.  Instead of the wizzard-type interaction implemented at the moment, the new interface will have all the elements present in one page:

On

[2019-12-14 13:01] razvanilin opened #18 "Add a socket.io service/module in the backend"
### The motivation

A lot of future tasks will be based on real-time communication through websockets:

* Collaborative chart creation
* Collaborative dashboard editing
* Support for streams of data (Database streams like on MongoDB for example)

### Architecture

The socket.io will be a new `module` in the server-side code. It should have the following functionality:

* Register new events
* Put

[2019-12-14 13:11] razvanilin opened #19 "Add migrations for all the models in the database"
The current models don't have migration rules and any database changes need to be done automatically. This is obviously not a good thing and needs fixing fast.

The ORM that CB uses is Sequelize. This is the documentation for migrations:

https://sequelize.org/master/manual/migrations.html

[2019-12-14 16:43] razvanilin opened #20 "Export chart in PDF format"
Chart.js is drawn on an HTML `<canvas />` that should be straightforward to export to a PDF or any other image format.

The option to export to PDF should be included in the contextual menu of every chart (screenshot below). This shouldn't require any back-end work.

![image](https://user-images.githubusercontent.com/5342321/70851727-281c6300-1e99-11ea-86c1-f915f9cf1e80.png)

[2019-12-14 16:48] razvanilin opened #21 "Add streaming support for MongoDB connections using .watch()"
This depends on #18 to work properly.

The `.watch()` method documentation:
https://docs.mongodb.com/manual/reference/method/db.collection.watch/

[2019-12-14 23:05] razvanilin opened #22 "API error management"
The errors format is currently all over the place. It will be good to have a module that handles all the errors to standardize a format across the whole API - controllers.

This issue will be updated with any discussion points.

[2019-12-15 22:25] #19 closed

[2019-12-17 20:44] razvanilin opened #25 "Allow the creation of Draft charts that are always created as soon as add chart is pressed"
* User presses Add Chart
* An empty chart draft is created in the database
* The User can always go back to edit the chart
* The draft charts are displayed differently in the dashboard?

Code progress in #24

[2019-12-17 21:47] razvanilin opened #26 "Documentation updates"
An issue to keep track of changes in the documentation.

[2019-12-17 23:31] razvanilin commented on #26
Improve the following:

- [ ] Make it more clear that there are two `.env` files that need to be created
- [ ] Add the `npm run setup` phase for cases when `create-chartbrew-app` command is not used

[2019-12-19 13:21] razvanilin commented on #26
- [ ] Add instructions on how to set up MySQL

[2019-12-19 13:52] razvanilin commented on #26
- [ ] Point out that Windows shell is not supported

[2020-01-01 22:23] #25 closed

[2020-01-01 22:28] razvanilin opened #29 "Create a temporary draft when editing a live chart"
At the moment, any changes made when editing a live chart will be visible right away in all places that the chart is made available.

To improve the experience, the #28 PR disabled the `autosave` flag when editing a live chart to avoid premature edits.

A better experience would be:

* Click Edit on a live chart
* A draft gets created and it will record in the database which is the live chart that

[2020-01-06 20:09] razvanilin opened #30 "Draft saving seems to be causing a lot of duplicate datasets when creating the chart"
### How to reproduce

* Start building a chart
* Make sure there are a few draft autosaves happening
* Configure a dataset before creating the chart
* Create chart
* Go to edit the chart => a lot of duplicate datasets

### Screenshot

![image](https://user-images.githubusercontent.com/5342321/71845536-ced6d680-30c8-11ea-824a-430d9e18de31.png)

[2020-01-06 20:12] razvanilin commented on #30
[UPDATE] Removing the last duplicate dataset seems to cause a crash as well.

[2020-01-06 20:30] razvanilin opened #31 "Add the database migration script to the CI workflow"
The database migration script is currently not running in the CI workflow.

Add a new task with `npm run db:migrate`

[2020-01-06 21:30] razvanilin opened #32 "The "Show Zeros" options defaults to false on Preview, but saves as true"
### Steps to reproduce

* Start building a new chart
* Preview after configuring the first dataset
* Don't fiddle with `Show Zeros` options
* The preview acts like this options is `false`
* Create the chart
* `Show zeros` is set to `true` on the dashboard

[2020-01-06 22:37] razvanilin commented on #30
**Problem description**

* Whenever the draft updates, the datasets are re-created because there's no check for duplicates
* There are 3 places in the `ChartController` where this can happen - search for `this.dataset.create`

**Possible solutions**

* Update the datasets with IDs on the frontend whenever there's a new chart update in the backend
* Come up with a way to stop the creation of the du

[2020-01-10 20:52] #30 closed

[2020-01-10 21:42] razvanilin opened #34 "The caching feature in the ChartController.getPreviewData() causes errors"
### How to replicate

* creating a new chart
* in the timeseries global settings turn `Allow zeros` on and off multiple times
* sometimes the server returns a `400`
* I traced it back to the cache which causes that somehow

[2020-01-10 22:49] razvanilin commented on #32
### More info

When editing, `LineChart.js:88` if statement is generating the wrong data. ⁉

After going out of the editor, the generated data is correct.

After going back to edit the chart, the generated data is correct. ⁉

[2020-01-12 15:05] #32 closed

[2020-01-12 15:19] razvanilin opened #35 "The "Enable global headers" option gets reversed if changed in any way from the interface"
### How to reproduce

* Ensure there is an API connection with global headers already saved in your Chartbrew project
* Create new chart and prepare your API request in the API request builder
* Before clicking next untick global headers > press send > tick the global headers again > press send > press next now
* Configure the dataset in the next step and you will get an error if the request needs

[2020-01-21 10:28] razvanilin commented on #16
Closing this as the current cache feature works in a similar way.

[2020-01-21 10:28] #16 closed

[2020-01-21 12:05] razvanilin opened #36 "Option to duplicate projects with all the settings/connections/charts/savedQueries/apirequests"
**This could work in two different ways:**

1. Have an option in the User dashboard to duplicate the project and everything will be duplicated

This approach might be tricky to implement because of the granularity involved: have to search for all the associated items to duplicate - connections, charts, saved queries, api requests, datasets

2. The option can be placed on individual items:

For exa

[2020-01-21 12:09] razvanilin opened #37 "Add option to select a global time on a dashboard an inject the value in all the charts"
There could be an option on the dashboard to select a date range and inject this value to all the charts present on the dashboard. This could be useful for monthly reports, for example.

[2020-01-27 19:48] razvanilin opened #38 "The dataFinder module gets confused when selecting a deeper object property"
### When does it happen?

When the response object is in a format like below:

[code]

As can be seen in the object above, there are two properties called `author`; one in the root object and the other one in `commit.author`.

If the user wants to select `commit.author.date` as the date field to use for a time series, sometimes the `dataFinder` modules tries to find this field in the root `author`

[2020-01-28 12:12] razvanilin opened #39 "Add the option to change the display name of patterns in pattern charts"
For example in the screenshot below, I would like to name:
* `null` or `empty` with `Not defined`
* `win32` to `Windows`
* `darwin` to `MacOS`.

![image](https://user-images.githubusercontent.com/5342321/73262972-c0fc0900-41cf-11ea-8e99-3df5da56d5d5.png)

[2020-04-25 05:07] razvanilin opened #42 "Set up "always live" connection targets of each type to test new releases against"
The current active testing is done against MySQL and APIs Connections. It will be good to have at least one connection of each type to increase the quality of the tests before each release.

- [x] MySQL
- [x] API
- [ ] NodeJS
- [x] PostgreSQL

[2020-05-05 01:43] razvanilin opened #43 "Invisible drafts still take line space"
If a line has a draft and a completed chart the line looks like this:

![image](https://user-images.githubusercontent.com/5342321/81028572-9eefe200-8eb4-11ea-83e6-ba9b535b1c39.png)

The expected behaviour when hiding the draft is for `CB Users` to go to the left of the line and `CB Charts` take the place of `CB Users`.

Instead, this happens:

![image](https://user-images.githubusercontent.com/534

[2020-05-05 05:02] razvanilin opened #44 "Simplify the roles check in the backend"
At the moment, checking the roles (if the current user can access the resource) requires a lot of repetitive code:

[code]

This also makes the API routing a bit complicated as it's required to always include the project ID in the route.

BUT for starters, it will be good to make the check above shorter by modularising the access role check.

[2020-07-07 03:25] razvanilin commented on #17
Merged with #24

[2020-07-07 03:25] #17 closed

[2020-07-07 03:35] razvanilin commented on #34
This was fixed with the redesign PR #24

[2020-07-07 03:35] #34 closed

[2020-07-07 03:37] razvanilin commented on #26
Closing this - individual issues could be created for each item in the future.

[2020-07-07 03:37] #26 closed

[2020-07-07 03:38] razvanilin commented on #1
Not relevant anymore since the design update #24

[2020-07-07 03:38] #1 closed

[2020-07-27 10:20] razvanilin opened #47 "Add pre-commit linting to iron out any issues automatically"
This should be applied to both `client` and `server`

[2020-07-31 07:33] sdestivelle opened #48 "Directory code is missing"
Hi,

when you want to use the Dockerfile it returns that "npm ERR! enoent ENOENT: no such file or directory, open '/code/package.json'"
And there is no code directory on the GitHub repository.

Regards,

Steve

[2020-07-31 07:34] razvanilin commented on #48
Hey @sdestivelle 👋 Thanks for reporting this. I'll have a look at this asap

[2020-07-31 17:26] sdestivelle opened #49 "Error when execute 'npm run db:migrate'"
Hi,

I've got this message when I try to initialise the database with the migrate command.

0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'run', 'db:migrate' ]
2 info using npm@6.14.6
3 info using node@v10.22.0
4 verbose run-script [ 'predb:migrate', 'db:migrate', 'postdb:migrate' ]
5 info lifecycle server@1.0.0-beta.9.3~predb:migrate: server@1.0.0-beta.9.3
6

[2020-08-01 01:45] razvanilin commented on #49
Could you try the following:

[code]
If it fails, the stack trace should be clearer about what's the problem

[2020-08-01 05:37] razvanilin commented on #48
I just committed (fb30db0) a fix for this on `master`. Can you pull the latest changes and let me know if it now builds for you?

[2020-08-01 07:51] sdestivelle commented on #49
I've got another error.

npx : 80 installé(s) en 2.044s

Sequelize CLI [Node: 10.22.0, CLI: 6.2.0, ORM: 5.22.3]

Loaded configuration file "config/config.js".
Using environment "development".
== 20191214175953-create-user: migrating =======

ERROR: Invalid default value for 'createdAt'

[2020-08-01 07:52] sdestivelle commented on #48
I've got his.

[root@localhost chartbrew]# docker-compose up -d
WARNING: The CB_DB_NAME_DEV variable is not set. Defaulting to a blank string.
WARNING: The CB_DB_USERNAME_DEV variable is not set. Defaulting to a blank string.
WARNING: The CB_DB_PASSWORD_DEV variable is not set. Defaulting to a blank string.
Building chartbrew
Step 1/11 : FROM node:10
 ---> 5010eb9431a5
Step 2/11 : WORKDIR /code
 -

[2020-08-01 07:56] razvanilin commented on #48
Can you try to update line 7 in `Dockerfile` with the following:

[code]

Then run `docker-compose up --build`

[2020-08-01 08:10] razvanilin commented on #49
Did you run `npm run setup` in the project's root folder?

[2020-09-13 17:30] justmiles opened #50 "Support custom values"
I could be reading the setup wrong, but it appears the only way the Y axis value is determined is by the number of records returned in the results. It would be nice to set the value used for y axis in the query itself. For example, if we wanted to see number of users by role we would currently query like this:

[code]

It would be nice to offload this to the SQL like this:

[code]

This allows for

[2020-09-14 00:40] razvanilin commented on #50
Your example is currently supported through the pattern charts that are available for all the charts except Line.

If you query your data with `SELECT role_name FROM users` you can select the `role_name` field and then you will be able to see how many roles of each type you have in your data.

I agree it's a bit confusing at the moment, but this part will be re-worked soon. Also, time filtering is

[2020-09-14 04:35] razvanilin opened #51 "Upgrade react-ace to get rid of the "brace" dependency"
Currently, [`react-ace`](https://github.com/securingsincity/react-ace) uses `brace` which is huge for a front-end app. The latest version of `react-ace` uses their own syntax builds and can speed up the front-end app considerably (just a hypothesis).

The new version might have some [breaking changes](https://github.com/securingsincity/react-ace/blob/main/CHANGELOG.md) other than removing `brace`

[2020-09-14 04:35] razvanilin commented on #43
fixed

[2020-09-14 04:35] #43 closed

[2020-09-14 04:37] razvanilin commented on #49
I'm closing this as I couldn't replicate the issue or heard from someone else about it. If you're still having problems after following the setup instructions, I can open the issue again.

[2020-09-14 04:37] #49 closed

[2020-09-15 14:36] razvanilin opened #52 "Weekly time interval doesn't show the right value for aggregating charts"
Steps to reproduce:

* Select any Line or Bar aggregating chart
* Pull some data (ideally a larger dataset)
* Expand date settings and choose the weekly time interval
* The value will be slightly off

[2020-09-15 15:26] justmiles commented on #50
Using `count(*)` may have not been the best example because the count also returns the number of records. What I'm hoping for is to set the y-axis value in the SQL itself. A better example might be to use an `AVG`, `SUM`, or even an existing column.

[code]

The "setup the fields" page is effectively selecting the column to use on the x-axis, with the y-axis being the count of instances for that c

[2020-09-16 03:14] razvanilin commented on #50
Gotcha! I'm planning to work on offering more customizability for Beta.13. The "Setup the fields" page will be revamped to offer the option to select custom fields on top of the date. I will also experiment with queries like the one you mentioned to see how I can design the UI for that kind of scenario.

The idea of selecting the axis from the SQL query is interesting and can definitely be placed

[2020-09-17 02:03] razvanilin commented on #51
done

[2020-09-17 02:03] #51 closed

[2020-09-17 02:05] razvanilin commented on #48
`rsync` is not a dependency anymore and the whole Docker environment was revamped. If you still have issues, feel free to come back to this issue

[2020-09-17 02:05] #48 closed

[2020-09-17 02:28] razvanilin opened #53 "Cannot delete Projects that have Saved Queries referenced in them"
Currently, the `SavedQueries` have the `Project` foreign key and it's causing the `Project` deletion to fail.

Instead of fixing, maybe it's worth making the SavedQueries part of the Team instead of Project. That way the queries can be used across multiple dashboards.

Error when trying to delete a Project that has a SavedQuery:

[code]

[2020-09-17 03:07] razvanilin opened #54 "Add the ability to change the order of the Datasets"
Would be nice to be able to change the order of the Datasets, especially on the KPI charts:

- [ ] New field in the `Dataset` model called `order`
- [ ] New `sequelize` migration to reflect the new schema changes
- [ ] Front end rendering based on the new `order` field
- [ ] Front end functionality to change the order of the datasets - ideally drag-n-drop the elements (top-right of the screenshot

[2020-09-19 03:22] razvanilin opened #55 "Connection form does not disappear all the time after the connection was created"
* Complete the connection form
* Click on Save Connection
* The button loads continuously and the form does not disappear
* The Connection is created correctly

This was observed in the API connection form

[2020-10-01 08:02] razvanilin commented on #54
- [ ] New field in the `Dataset` model called `order`
- [ ] New `sequelize` migration to reflect the new schema changes
- [ ] Front end rendering based on the new `order` field
- [ ] Front end functionality to change the order of the datasets - ideally drag-n-drop the elements (top-right of the screenshot above)

[2020-10-01 08:48] testerslol123 commented on #20
Hi sir, I would like to take this challenge.
Can you assign me for this?

[2020-10-01 09:14] razvanilin commented on #20
Sure thing, just updated

[2020-10-06 08:13] razvanilin opened #56 "Authenticate docker pulls in the circleci config file"
Docker will limit these anonymous pulls, so they will need to be authenticated.

Instructions here: https://circleci.com/docs/2.0/private-images/

[2020-10-06 13:24] razvanilin commented on #50
Just a quick update that this feature is being worked on in #57

Not planning to add field selection through the SQL query just yet. Will have to experiment with that after the new updates

[2020-10-12 14:33] testerslol123 commented on #20
Seems I was busy doing other project also. So I would like to give my pull request to other contributor here.
Thank you

[2020-10-14 03:45] razvanilin opened #58 "Refactor every react component to use react-hooks"
How to contribute to this issue:

- [ ] Scroll down below to check the existing PRs so you don't open a PR for a component waiting for review
- [ ] Refactor components based on the description below - also check [the guidelines for PRs](https://github.com/chartbrew/chartbrew/blob/master/CONTRIBUTING.md)
- [ ] Reference this issue with `#58` in the PR description so we can track which components ar

[2020-10-14 08:38] hotborsh commented on #44
Could you please assign it to me?

[2020-10-14 09:11] razvanilin opened #59 "Upgrade semantic-ui-react to v2 and migrate affected components"
There might be some `Popup` components and `Responsive` that need changing. https://react.semantic-ui.com/migration-guide

[2020-10-17 03:12] jscastanos commented on #47
Hi, I'd like to give this a try.

[2020-10-21 20:34] HunainHumail commented on #58
I would like to work on this issue to convert the class components to functional components.
Please assign me this issue
Thanks

[2020-10-22 02:17] razvanilin commented on #58
Hi, thanks for your interest. Please read the issue carefully. This is not to be assigned since it will need multiple PRs from multiple people. Others already created PRs (as you can see above)

[2020-10-23 19:12] anusha5695 commented on #55
@razvanilin I can pick this

[2020-10-27 04:14] #47 closed

[2020-11-02 14:00] warisanwar commented on #20
Hey Raz!
Can I be assigned this feature?

[2020-11-04 10:23] razvanilin commented on #50
This is now implemented in Beta 13

[2020-11-04 10:23] #50 closed

[2020-11-04 11:05] razvanilin commented on #55
solved in 5c3e239

[2020-11-04 11:05] #55 closed

[2020-11-07 03:03] #59 closed

[2020-12-04 05:40] Slach opened #76 "Add ClickHouse columnar database as data-source"
Thanks a lot for you great efforts and nice product
please look to http://clickhouse.yandex/docs/en/
ClickHouse is a blazing fast open source Columnar database for Analytics

could you add ClickHouse as data source in your product?

[2020-12-04 06:54] razvanilin commented on #76
Hey! Thanks for dropping by and suggesting the new data source. I wasn't aware of ClickHouse before, but it's definitely doable to add it as another option.

In the meantime, if you have an API that can query the data from your database, you could use the API connection to fetch the data.

[2020-12-21 08:54] razvanilin opened #78 "Replace simplecrypt because it's using deprecated node cypher API"
Deprecation warning: `crypto.createCipher is deprecated`

[simplecrypt](https://www.npmjs.com/package/simple-crypt) is not receiving any other updates and it's using the deprecated API. Needs to be replaced with another library.

A good contender might be: [bcrypt](https://github.com/kelektiv/node.bcrypt.js#readme)

**⚠Things to take into account**:

* All the encrypted content in the database mig

[2020-12-29 03:54] razvanilin commented on #44
@hotborsh I will unassign this task because of lack of activity, but if you'd like to resume, just let me know 👍

[2021-01-06 03:11] razvanilin opened #79 "Add support for the MySQL 8 "caching_sha2_password" authentication method"
Currently, Chartbrew works only if the native auth is used. The `mysql2` and `sequelize` libraries will need to be migrated to the latest version to make this work.

[2021-01-12 21:23] franbugallo opened #80 "Can't sign up as new user in synology docker"
Hi! After some ups and downs I have been able to configure chartbrew and make it run in my synology docker. The issue that I'm facing is that when I enter the frontend and try to sign-up as new user nothing happens! I mean, I complete name, mail and password but when I press the button nothing happens...

Thanks for your help

[2021-01-13 01:08] razvanilin commented on #80
Hey @franbugallo 👋 Can you open the dev tools in the browser and see what errors you are getting in the `Networking` tab? My guess is that the front-end cannot reach the back-end application. Try and see if you can reach the back-end application yourself like so:

![image](https://user-images.githubusercontent.com/5342321/104393211-def88000-557e-11eb-8630-7a2e815b5cc2.png)

[2021-01-13 10:54] franbugallo commented on #80
Hi @razvanilin, thank you so much for your help!.

My back-end seems to be working...
<img width="382" alt="Captura de pantalla 2021-01-13 a las 11 47 06" src="https://user-images.githubusercontent.com/72529828/104442738-c3e53a80-5595-11eb-890f-18a7131f057d.png">

I'm getting following error, but I don't see that is related to the sign-up petition itself.

<img width="823" alt="Captura de pantalla

[2021-01-13 13:20] razvanilin commented on #80
Is your browser not saving cookies by any chance?
Also, have you tried to log in with the details you already entered during the signup? I'm just thinking that maybe the signup process had a hiccup, but your user account is actually created.

If you can view your database, it will also be good if you can check the user table and see if there's any data there.

[2021-01-13 17:59] franbugallo commented on #80
It is saving cookies. The database is empty.
<img width="417" alt="Captura de pantalla 2021-01-13 a las 18 51 56" src="https://user-images.githubusercontent.com/72529828/104490027-9e295700-55d0-11eb-9b70-4a3af621b726.png">

Could it be that the front-end is not able to communicate with the back-end despite being up and running? I had to do a few tweeks in the env variables so that it would work in

[2021-01-14 01:53] razvanilin commented on #80
Have you set the `REACT_APP_API_HOST`? That's the one that needs to be set for the client app to find the server

`REACT_APP_API_HOST=http://your-address:3210`

I think it might be a bit confusing that there's already the `CB_API_HOST` variable, but this is used by the server and everything with `REACT_` is used by the front-end app.

[2021-01-14 15:38] franbugallo commented on #80
I feel so dumb! That was the issue. It is working now. I promise I read the docs a thousand times but I don't know why I didn't realize about this mistake. I changed several configs but I never thought that I was missing a parameter.

Thank you so much for your assistance!

[2021-01-15 01:01] razvanilin commented on #80
haha don't worry about it. The docs could definitely be improved though. Not to mention the docker ones 😅

I'll close this issue now, but feel free to let me know if there's anything else not working. You can join [the Discord server](https://discord.gg/KwGEbFk) if you wish

[2021-01-15 01:01] #80 closed

[2021-01-19 01:02] razvanilin commented on #79
With the updates to the mysql driver and Sequelize v6, this should now be supported.

[2021-01-19 01:02] #79 closed

[2021-02-03 01:08] razvanilin opened #81 "Add docs to explain the update process with create-react-app"
Compile a list with what's needed to update an instance of Chartbrew.

Also troubleshooting in case:

* The update command fails
* There are merge issues
* Things that can be used to solve merge issues
* Alternative update methods

[2021-02-03 01:11] #42 closed

[2021-02-03 03:11] razvanilin opened #82 "Add a check for environmental variables on project start"
On both, `client` and `server` start there should be a check for `env` vars to make sure the compulsory variables are all set. Throw an error otherwise.

[2021-02-14 02:47] razvanilin opened #83 "Chart data events"
This feature will add events when certain data is detected in the Charts. For example, when the last data node in a chart hits a determined value, Chartbrew will send an email to the user.

## Email events

The email event can be the default behavior. Let's say you might track the memory usage of your server and then the memory reaches a certain threshold. You will get an email when that happens.

[2021-02-14 03:54] razvanilin opened #84 "Add support for nodemailer OAuth2"
Some email providers are forcing OAuth2 authentication for SMTP (e.g. Gmail).

Documentation material for the implementation: https://nodemailer.com/smtp/oauth2/

[2021-02-14 14:27] #83 closed

[2021-03-24 03:36] razvanilin opened #86 "Run the table migrations programatically with Sequelize's umzug tool"
Currently, the migrations are run with `npm run db:migrate`, but this is not so elegant. It will be great to run these automatically when starting the server application.

This should be fairly easy with this tool: https://github.com/sequelize/umzug

[2021-04-26 02:04] razvanilin opened #87 "Make the client app responsive on mobile"
This will be a bigger issue to track since it involves a lot of pages. So here's a checklist with all that needs to be addressed:

- [x] User Dashboard (just addressed in a6f816043d0fbf8652bbd0f739732caef6dd11e7)
- [ ] Project Dashboard (side-menu should go at the bottom with most used items)
- [ ] The Navbar component (get rid of the project selector and move other items to the User Icon dropdown

[2021-04-26 02:06] razvanilin commented on #20
Closed this since adding the dashboard PDF printing feature seems to work for individual charts as well.

[2021-04-26 02:06] #20 closed

[2021-05-15 04:30] razvanilin opened #88 "Incorrect date format chosen when a secondary dataset spans over multiple years"
Normally, Chartbrew looks for the span of the dataset, and if it extends over multiple years, it adds the year to the X Label.

If `Dataset#1` spans over multiple years the format will be -> `YYYY MMM D`
`Dataset#n` will then get the same format

---

The problem arises when:

`Dataset#1` **doesn't span** over multiple years. The format will then be -> `MMM D`
`Dataset#2` **spans** over multiple y

[2021-07-05 11:37] #86 closed

[2021-08-15 13:30] razvanilin opened #91 "Change the dashboard loading strategy to improve performance for charts with a lot of data"
Currently, the dashboard loads all the charts with all the data in a single request. This works well with small charts, but a large chart can keep the request hanging for longer than expected.

New proposed way:

- Load the dashboard with all the charts, but not with the `chartData` - This will load the dashboard structure
- Load charts again, asynchronously one by one, but this time get the `char

[2021-09-02 09:51] PierrickI3 opened #96 "Get a bearer token (OAuth2)?"
Is it possible to get a bearer token via OAuth2? All I can see in the demo site is the ability to set the bearer token.

[2021-09-02 11:18] Slach commented on #76
any progress with this issue?

[2021-09-02 13:02] razvanilin commented on #96
Hey @PierrickI3 , oauth2 is not currently supported for API connections (mostly because nobody asked for it yet). I'll add this to the GH project

[2021-09-02 13:06] razvanilin commented on #76
hey @Slach I don't have the bandwidth to look into this at the moment as it seems to be quite a big undertaking.

Although, I went through the website a bit and noticed that it has a MySQL interface. Would it be possible to use the MySQL connection from Chartbrew to connect to your ClickHouse data source? https://clickhouse.tech/docs/en/interfaces/mysql/

[2021-09-02 13:14] PierrickI3 commented on #96
Thanks! Nice job by the way

[2021-09-02 13:14] #96 closed

[2021-09-16 19:00] keremkurtulus opened #97 "ERROR: Validation error when first migration"
When first migration I am getting this
[code]
I am on the dev mode and using MAMP 6.3 for MySQL on macOS

Also, I think the migration command should be on the getting started page in docs.

Thanks.

[2021-09-18 20:37] razvanilin commented on #97
Hey @keremkurtulus, sorry for the delay in getting back to this!

Did you run the migration manually? There should be running automatically now.

Have you started the app and you get any errors?

[2021-09-28 19:16] poVoq opened #98 "Odata support?"
https://www.odata.org/

Would be nice if one could easily set up a Odata connection.

Thanks for considering.

[2021-09-29 12:37] razvanilin commented on #31
Not needed anymore since the migrations run automatically now

[2021-09-29 12:37] #31 closed

[2021-09-29 12:45] razvanilin commented on #98
Hey @poVoq thanks for the suggestion. I haven't used Odata before so I can look into it if there's enough interest. I'll add it to the suggestions in the project board for more visibility.

[2021-09-29 12:51] razvanilin commented on #11
fixed

[2021-09-29 12:51] #11 closed

[2021-10-04 17:28] razvanilin opened #99 "Always return a generic 200 when requesting a password reset"
This is needed to avoid situations where others can guess emails already registered in the system.

[2021-10-04 20:48] gkydev commented on #99
Can you assign this to me please ?

[2021-10-04 20:53] razvanilin commented on #99
@gkydev Done

[2021-10-04 21:05] razvanilin commented on #99
@gkydev The description is a bit lacking, but basically, this request should return a 200 right away, but still start processing the password reset in the background, async. Here's the devil:  https://github.com/chartbrew/chartbrew/blob/master/server/api/UserRoute.js#L314

[2021-10-05 06:11] ilovefreesw opened #101 "Can't run on OpenSuse"
I followed the installation using `npx` method. I am using OpenSuse Tumbleweed.

The first thing is that if we choose PostgreSQL as the database, then it should use 5432 as default port. Right now it uses 3306 which is default for MySQL.

![image](https://user-images.githubusercontent.com/77317006/135969502-214f5509-62e4-4b99-8c5d-937e0f0f024d.png)

The installation is successful, but can't run th

[2021-10-05 08:03] razvanilin commented on #101
hey @ilovefreesw thanks for pointing this out. Running with Postgres is still a new addition to the project and this installation step went under the radar. I'll create an issue and get on with fixing it as soon as I can

[2021-10-05 08:13] razvanilin commented on #101
Also, for the error when running the server app, try running it like this instead: `npx nodemon index`

[2021-10-05 09:23] ilovefreesw commented on #101
I think it is still failing.

![image](https://user-images.githubusercontent.com/77317006/135996634-d6ab4b84-8ab0-47f4-8feb-d07b7651e58c.png)

![image](https://user-images.githubusercontent.com/77317006/135996684-b3d0b5c2-84e1-475b-96d4-9690dfafec6e.png)

[2021-10-05 09:26] razvanilin commented on #101
hmm, seems the installation didn't go as expected. Can you try to run `npm run setup` at the root of the project? That should install all the dependencies. Can you also let me know what OS and Node version are you using?

[2021-10-05 09:28] ilovefreesw commented on #101
I am using OpenSuse Tumbleweed. Node: `16.6.2` and NPM: `7.24.2`

I am thinking of trying the Docker image now.

[2021-10-05 09:49] ilovefreesw commented on #101
It looks like Docker image is also not supported. I think it is overall problem with the openSUSE. I think Docs should mention which Linux it works with.

![image](https://user-images.githubusercontent.com/77317006/136000505-b67544b3-aaa5-458f-847c-d05507ad4e76.png)

[2021-10-05 09:52] razvanilin commented on #101
Thanks for trying that out! You're absolutely right about the docs. I'll look into it as soon as I can

[2021-10-05 10:08] #99 closed

[2021-11-01 15:36] may-qmh commented on #97
Hi, I faced this issue as well when running migration manually.

Auto migration does not work for me, running the commands recommended in the docs to run the project in Development:
[code]

resulted in db errors:
[code]

When I ran migration with `npm run db:migrate` on a clean project, I get validation error. Re-running it again (a few times) overcomes the validation error and would result in the

[2021-11-01 16:44] razvanilin commented on #97
Hey @may-qmh thanks for reporting this! Things have changed since this issue was first reported so I think the problem now is the order in which the migration actions are running. I'll look into this and fix the migrations 👍

Have you cloned the repository or installed with `create-chartbrew-app`?

[2021-11-01 17:12] #97 closed

[2021-11-01 17:15] razvanilin commented on #97
@may-qmh I managed to replicate the issue in my test environment and fixed it on `master`. You can pull the latest changes or wait until I release the new version to use `create-chartbrew-app` if that's the method you prefer. Before running the server app again, it's better if you drop the database and re-create it so the migrations start from the beginning.

Again, thanks for reporting as this wa

[2021-11-09 07:27] urlyb opened #103 "Outdated docker images on Docker Hub"
The image for linux/amd64 was not updated for a year it seems. Based on the docker installation instructions, 1.0.0-beta.11 version of the Chartbrew gets installed.

https://hub.docker.com/r/razvanilin/chartbrew/tags

[2021-11-10 20:36] razvanilin commented on #103
That's a good shout! I changed my main machine and I lost track of the different archs for the image. I'll check the environment on my old machine to see if I can get the image updated.

[2021-11-11 10:20] razvanilin commented on #103
@urlyb I just update the docker images and they both run the latest version. The `latest` tag now has the amd64 arch and the `latest-arm64` has the arm64 arch.

The documentation has been updated to reflect this as well: https://docs.chartbrew.com/deployment/#run-the-application-with-docker

Thanks again for pointing this out!

[2021-11-11 10:20] #103 closed

[2021-11-11 12:38] urlyb opened #104 "Export to Excel doesn't work for data in Table View"
Version: 1.17.0 (docker linux/amd64)
Nothing happens if "Export to Excel" option is clicked from the Table View menu on the dashboard. It does work with the regular charts.

[2021-11-15 18:11] razvanilin commented on #104
Hey @urlyb Apologies for the delay in getting back to you!

Could you inspect the Network tab in your browser's DevTools and let me know if there is an error message associated with the export request?

Also, if you can inspect the server logs inside the docker image to see if there are any errors there

[2021-11-16 07:50] urlyb commented on #104
Hi @razvanilin. No problem about the delay. Great project btw.

You're right, I get HTTP 400 response from the server and this error description in the response:
**Response:**
{"message":"field.replaceAll is not a function","error":"TypeError: field.replaceAll is not a function"}

**Request:**
{"chartIds":[6],"filters":[{"id":"54a79281-0f93-46be-9ea3-29b7cfbb042d","field":"root[].ZACETEK_OBRAVNAVE

[2021-11-16 07:52] razvanilin commented on #104
This is very helpful, thanks! I'll look into it and fix it asap

[2021-11-16 08:38] razvanilin commented on #104
@urlyb one more question:

For the table you want to export, did you exclude any fields? (like in the screenshot below)
If yes, can you let me know what the field is called? If that's sensitive info, feel free to also email it to me at raz(at)chartbrew(dot)com

![CleanShot 2021-11-16 at 10 38 14@2x](https://user-images.githubusercontent.com/5342321/141951356-392d562a-9e93-44ed-b73c-30704bfe3854.jp

[2021-11-16 08:46] urlyb commented on #104
Yes, one field called "LETO" is excluded.

[2021-11-16 08:48] razvanilin commented on #104
Awesome! and if you include the field, does the table export correctly? I think it may have to do something with the formatting of the excluded field, so need to be 100% sure that's where it fails.

[2021-11-16 08:51] urlyb commented on #104
You're right, it does work with this field included.

[2021-11-16 09:04] razvanilin commented on #104
I couldn't replicate the issue on my end, but I added type checks to make sure that the function doesn't fail anymore. I will let you know once I get home and push the fix to the Docker hub.

[2021-11-16 09:20] urlyb commented on #104
Great! Thanks. If it helps - the values for this field are nothing special - just years:
![image](https://user-images.githubusercontent.com/43437803/141957563-61240c09-725e-4095-90c2-d61b53aaabb2.png)

[2021-11-16 10:05] razvanilin commented on #104
I just pushed the fix to the `latest` tag. Feel free to update your image and let me know if the issue is fixed

[2021-11-16 12:53] urlyb commented on #104
Works like a charm! This issue can be closed. Thanks.

[2021-11-16 12:53] #104 closed

[2022-02-04 09:43] DanJamesH opened #105 "Chart auto-update is not working"
Good day. First of all thanks to the creators of the app. It really is very cool.

On the surface level, my issue is quite simple. The charts I have created on my dashboard do not update even though I have specified the auto-update option to be every hour.

As you can see in picture one the chart says it was updated a day ago.

![imageedit_3_5477801254](https://user-images.githubusercontent.com/47

[2022-02-05 04:38] razvanilin commented on #105
Hey @DanJamesH thanks for stopping by!

This was flagged to me on Discord a few days ago. There was an issue with the cron operation to update the charts automatically. This has been fixed in the latest version. Can you try an update your project and see if it works?

Feel free to re-open the issue if the problem persists

[2022-02-05 04:38] #105 closed

[2022-02-26 18:48] gokcenveysel opened #106 "First signup problem"
Hi,

I install chartbrew app as your guideline but when I try to signup for new user from client, I get error like below. How I can fix it?

Thanks

POST /user 400 27.802 ms - 2
(node:8577) UnhandledPromiseRejectionWarning: Error [ERR_HTTP_HEADERS_SENT]: Cannot set headers after they are sent to the client
    at ServerResponse.setHeader (_http_outgoing.js:455:11)
    at ServerResponse.header (/Us

[2022-02-27 17:35] gokcenveysel commented on #106
By the way, I can not see any .env file in chartbrew folder actually. I think I am missing somethings
<img width="332" alt="Screen Shot 2022-02-27 at 21 34 10" src="https://user-images.githubusercontent.com/11418591/155893095-4298577b-224a-4b6a-8a56-e6416c7687b1.png">

[2022-03-01 02:47] razvanilin commented on #106
Thanks for coming back with more info! Not having the `.env` will definitely make the project not work. I'm assuming you ran the `create-chartbrew-app` on MacOS, right? I will look into it, but so far I couldn't replicate the issue on my Macbook. Can you let me know what version of NodeJS you are using?

You can try 2 things now to make it work:

1. Add a `.env` file to the root of your Chartbrew

[2022-03-01 07:39] gokcenveysel commented on #106
Hi again @razvanilin,

I am using Node v12.5.0 and yes I am running on MacOS.

I will try your suggestions and give feedback again.

Thanks

[2022-03-03 03:50] razvanilin commented on #101
@ilovefreesw forgot to keep this issue in the loop. There are two docker images now

* `razvanilin/chartbrew:latest` for `amd64` architecture - so this should work on your distro
* `razvanilin/chartbrew:latest-arm64` for `arm64` architecture - compatible with the M1 chips

The docs have been updated with instructions for each architecture: https://docs.chartbrew.com/deployment/#run-the-application

[2022-03-03 03:50] #101 closed

[2022-03-03 05:51] razvanilin opened #107 "Consider serving the frontend app from Express in the backend"
While running the application in production, things will be considerably easier if end users will only have to worry about starting one application. As it stands:

* The client app needs to be served separately
* The Node app backend needs to run separately
* Repetitive issues with the frontend app not connecting properly to the backend

Proposed way:

* In production, serve the built react app di

[2022-03-08 21:17] baitechman opened #108 "API Connection Bearer Token Authentication - Refreshing token"
Hi. I created a new API connection and choose Bearer token as authentication type. When the bearer token expires, the connection will not be able to connect to the API. Is it possible to set the connection to point to my oauth server to get new tokens?

[2022-03-09 03:40] razvanilin commented on #108
Hey @baitechman 👋 this is not currently possible but has been on my list to implement for ages. I ran into this myself with a few APIs I was using.

If you can describe how you'd like this to work, that would be very helpful. It will give me a better idea of how to better design this.

My thinking of how this would work is to configure a login request on the API connection form. So when Chartbrew

[2022-03-09 11:18] seyhunak commented on #106
Yes, I have the same issue with the Docker image, having "Server Error" after successfully pulling images and booting up.
2.nd option works for me too.

@razvanilin
FYI @gokcenveysel

[2022-03-10 02:46] razvanilin commented on #106
I will need to update the error message to be more explicit. `Server error` is a generic message for all kinds of errors. The most common issue is that the frontend app cannot reach the backend.

If you give the Docker image another try, double-check the env variables have the same format as in the examples (with `http://` or without).

[2022-03-10 02:47] #106 closed

[2022-03-23 03:33] razvanilin opened #110 "Add full support for multiple MongoDB connections"
Currently, when a MongoDB connection is made, the connection may stay open, stopping all other MongoDB connections from working.

The ODM that Chartbrew uses ([Mongoose](https://mongoosejs.com/)) has a multi-connection API method that can be used to make sure all connections are created separately. Docs here: https://mongoosejs.com/docs/connections.html#multiple_connections

Instead of using `conn

[2022-05-24 11:38] razvanilin opened #113 "Add update documentation"
### Discussed in https://github.com/chartbrew/chartbrew/discussions/112

<div type='discussions-op-text'>

<sup>Originally posted by **gokcenveysel** May 23, 2022</sup>
Hi,

I want to update from v1.20.2 to 1.22.1 but is there any documentation on how I can do it? Or am I have to re-install again?</div>

Write documentation for the Update procedure for the following scenarios:

* [ ] Update when r

[2022-06-03 13:29] gokcenveysel opened #114 "MongoDB Request PayloadTooLargeError: request entity too large"
Hi @razvanilin,

When I create mongodb connection and create data for any chart I got "PayloadTooLargeError" from backend server.

[code]

Is there any solution for that problem?

[2022-06-03 13:37] razvanilin commented on #114
Hey @gokcenveysel ,

I haven't seen that error on my end yet, but it looks like the data being sent to the server is above the limits allowed by Express. Can you try modifying `server/index.js` and see if it fixes the issue?

Replace lines [38 and 39](https://github.com/chartbrew/chartbrew/blob/c18451d81eb40d838c186623d35195927f722d2e/server/index.js#L38) with the lines below:

[code]

if you stil

[2022-06-06 18:32] gokcenveysel commented on #114
Hey @razvanilin,

Your suggested solution worked for me!

Thanks.

[2022-06-06 18:32] #114 closed

[2022-06-16 10:44] DrZoidberg09 opened #116 "Cannot upload custom logo since version 1.22"
I freshly updated to version 1.22 first with my own docker image, just now with yours. Now I cannot upload my own dashboard logo as it will spit out a internal server error.

Before with version 1.21 everything was perfectly fine.

[2022-06-16 11:32] razvanilin commented on #116
Hey @DrZoidberg09 thanks for reporting this. I was able to replicate the issue just now and will work on a fix

[2022-06-17 09:16] razvanilin commented on #116
Hey @DrZoidberg09 the issue with the upload has been fixed in the latest release https://github.com/chartbrew/chartbrew/releases/tag/v1.22.1

The error was triggered by a dependency update in 1.22.0

[2022-06-17 09:16] #116 closed

[2022-06-18 10:40] DrZoidberg09 opened #118 "Chartbrew behind OAuth2"
Hi there,

I would like to access the dashboards from Nextcloud as external site but dont have them freely accessed from the web.

The idea was to use OAuth2 to proxy everything behind /b/ (where the dasboards are located).

However, if I want to acces the dashboard a white screen appears. Looking into the details shows three 400 bad request errors towards the api of chartbrew. Most notably, it tr

[2022-06-19 03:16] razvanilin commented on #118
Hey,

Not really sure how your setup works exactly as I never used Nextcloud or attempted to proxy URLs like that.

Judging from the API call returning the `400`, your front-end address might be changed in a way that Chartbrew is not designed to work with. Chartbrew calls sometimes use the URL to get information (such as the team ID). Does your URL path in the frontend contain `/oauth2` by any cha

[2022-06-20 10:06] razvanilin commented on #118
Not sure this is application-related. I believe you will have to configure your web server to deal with the URL forwarding. I haven't done anything like this before so I will need to do some reading when I get some free time

[2022-06-20 19:00] DrZoidberg09 commented on #118
That would be nice. But this is surely not the number one priority. However, oauth2 compatibility would be nice. Maybe something for a long-term roadmap.

[2022-06-29 06:34] gokcenveysel opened #119 "Table chart can not show data set"
Hi @razvanilin ,

I hope everything is fine!

I am using your **1.21.1** version of chartbrew to create some dashboards.
But sometimes when I want to create a table chart, unfortunately, the table chart can not show the dataset on the table.

![Uploading Screen Shot 2022-06-29 at 10.29.09.png…]()

As you see the data set is ready and the query is working well on output but the table chart can not

[2022-06-29 06:41] razvanilin commented on #119
Hey @gokcenveysel!

Can you try to re-upload the screenshot? For some reason, I can't see it on my end.

One thing I will check first if the tables are not displaying properly, is to make sure you select the right **collection** field from the dataset settings. See the screenshot below:

![CleanShot 2022-06-29 at 09 39 43@2x](https://user-images.githubusercontent.com/5342321/176368983-b347fc84-7cf

[2022-06-29 08:36] gokcenveysel commented on #119
Hi @razvanilin ,

Thanks for quick response.

Of course, I upload the screenshot again.

<img width="1509" alt="Screen Shot 2022-06-29 at 12 34 25" src="https://user-images.githubusercontent.com/11418591/176391618-ce4106da-3c6f-4cd3-801b-a833d3d9a78c.png">

[2022-06-29 08:39] razvanilin commented on #119
Can you try to uncheck the **Use cache** checkbox next to the "Re-process data" button, then press the button and see if it works? I believe the data that is cached has the format that's used for Axis Charts and it needs to be updated for a table view.

Let me know if that works

[2022-06-29 08:42] gokcenveysel commented on #119
Unfortunately, it does not working.

<img width="1484" alt="Screen Shot 2022-06-29 at 12 42 15" src="https://user-images.githubusercontent.com/11418591/176392960-774a851e-6818-4fe1-97a2-ab1f98ee65eb.png">

[2022-06-29 08:46] gokcenveysel commented on #119
Yes, the query of the collection is working and I see the results.

<img width="1681" alt="Screen Shot 2022-06-29 at 12 45 42" src="https://user-images.githubusercontent.com/11418591/176393814-5d341597-f7bb-4934-968b-c5c38911f75c.png">

[2022-06-29 08:49] razvanilin commented on #119
Can you try to switch to a Line or Bar chart, click on "re-process data" and then send me a screenshot? I want to see if I can spot any error in the UI

[2022-06-29 08:51] gokcenveysel commented on #119
Of course, when I change the charts its works but just the table chart not working

<img width="1521" alt="Screen Shot 2022-06-29 at 12 50 15" src="https://user-images.githubusercontent.com/11418591/176394739-55ef9f52-a799-43df-9320-bff01e300c95.png">

[2022-06-29 09:46] razvanilin commented on #119
Can you click on those requests and see if you get any error messages in the "Preview" tab?

[2022-06-29 09:48] gokcenveysel commented on #119
It gave the same preview as below.

<img width="959" alt="Screen Shot 2022-06-29 at 13 48 18" src="https://user-images.githubusercontent.com/11418591/176407076-5df5831f-37ed-4580-b2be-3579e65cbdde.png">

[2022-06-29 15:56] gokcenveysel commented on #119
Hey @razvanilin ,

I take a look for change encoding to utf8mb4 but I think, in MongoDB UTF-8 is the default encoding charset. And in MongoDB UTF-8 is the same as MySQL utf8mb4.

As you can see in this link: https://stackoverflow.com/questions/26167421/is-it-possible-to-store-utf8-mb4-in-mongodb

Is there any other solution?

By the way, I am using Mongo Compass for visualize data

[2022-06-30 12:55] gokcenveysel commented on #119
Oh, I understood what you mean now. Actually, I am using PostgreSQL not MySQL. And I will check the PostgreSQL using for Chartbrew. May I change all of the charsets of the table? Or just a specific table will enough for it?

[2022-06-30 13:03] razvanilin commented on #119
I'm a Postgres noob and I don't know for sure how to do it. I google something and found this article which seems to be the way forward https://tutorials.technology/tutorials/How-to-change-postgresql-database-encoding-to-UTF8-from-SQL_ASCII.html

Not sure if it's possible to do it just for a table

[2022-07-01 17:31] razvanilin commented on #110
Added in 59bee2207ff54d7ef3f4afcc1143ae4d3efa1db0

[2022-07-01 17:31] #110 closed

[2022-07-02 07:19] razvanilin commented on #119
Hey @gokcenveysel I think I fixed the issue with the table view with the latest changes on the `master` branch. I managed to replicate the issue when the table has some empty values at the start of the dataset. The code now checks for these to make sure it doesn't stop the table from being properly generated.

If you can pull the changes from `master`, feel free to give it a try and let me know if

[2022-07-03 15:01] scottdevopsgithub opened #120 "menu Content is not fully visible"
Just got everything running locally on a Windows 10 machine. Was trying out the Chartbrew application and noticed this potential issue. It will be easiest if you just look at the screenshot to see what I noticed.

![error-content not showing](https://user-images.githubusercontent.com/96550228/177045550-d7feb322-4564-44e9-b0f3-9f779211fbff.png)

[2022-07-03 18:48] razvanilin commented on #120
Hey @scottdevopsgithub thanks for reporting this!

I just looked into it and traced the issue to a dependency that I updated in the last release. This is fixed now as of [12e1348](https://github.com/chartbrew/chartbrew/commit/12e13484eadd1d8b8d649ccdb9f5db3f83cdf91b)

[2022-07-03 18:48] #120 closed

[2022-07-03 23:38] scottdevopsgithub commented on #120
awesome, thanks for fixing so quickly!

[2022-07-04 00:16] scottdevopsgithub opened #121 "Windows Dev - deploy to vercel and netlify not working"
I will put 3 screenshots in here in relation to a deployment issue (about a file-loader?). I have not encountered this type of problem before. The /client side of the locally running (self-hosted) chartbrew app is not compiling apparently. But I did get the /server side of the code to be deployed and running on heroku (and the /server side of the code is also running locally on my Dev Pc). And als

[2022-07-04 06:16] razvanilin commented on #121
Thanks for reporting! I will give it a try as soon as possible and see if this is related to another dependency

[2022-07-04 17:18] scottdevopsgithub opened #122 "Windows Dev - error: 400 - "Missing required arguments to create the template"
This seems to be the error message I am getting: StatusCodeError: 400 - "Missing required arguments to create the template" when trying to create new charts on a new or (using an)existing dashboard.

I installed the strapi plugin, into my working strapi backend project. The plugin seems to be up and running as expected, as far as I can tell. I configured all of it, as you explained in your recent

[2022-07-04 17:44] razvanilin commented on #122
Hey @scottdevopsgithub have you added the Strapi API token in the plugin settings? See below:
![image](https://user-images.githubusercontent.com/5342321/177200035-384e89e5-7ab1-4bf1-9b11-27d1ccee8731.png)

[2022-07-04 18:40] razvanilin commented on #121
Can you pull the latest changes from `master` and then try to re-deploy again? The issue should be fixed now

[2022-07-04 23:45] scottdevopsgithub commented on #122
So, yep, I went into my Strapi Admin panel, and viewed the Settings page, and there I created a Read Only API token, and pasted that token into the location you showed in your screenshot (and hit save button of course).  :-)

I also went into the chartbrew admin panel, and deleted those user reports you see in my first screenshot. And then after hitting refresh in my strapi admin panel...they disa

[2022-07-04 23:48] scottdevopsgithub commented on #121
I will give it a try. At the moment, I am using just a copy of the code I downloaded as a zip file and self-hosted it that way.  In the meantime, I will take a look at what changes you committed. If its simple enough, I can just apply the same changes to my offline copy of the code. And see what happens.

[2022-07-05 01:38] scottdevopsgithub commented on #121
OK, YaY that appears to have fixed it! After pulling down latest code, updating my env file as needed, and then I deployed it (from my repo) to vercel....I was able to login on the Chratbrew login page on my vercel account/app.

So the fact that my login page on vercel let me login, proves that my self-hosted chartbrew backend on heroku is up and running fine. Thanks for your help!!

[2022-07-05 07:07] razvanilin commented on #122
Oh, something I realized now. Are you running Strapi on your local machine? If yes, then the Heroku app cannot access your Strapi instance

[2022-07-05 14:09] scottdevopsgithub commented on #122
Let me do a quick review, which I think will answer your question.  There is a lot going on here so....let me break it down:
1. I have the self hosted chartbrew (server side code) running on heroku
2. I have mysql for chartbrew also running in heroku for chartbrew
3. I have the env vars on heroku, pointed at the heroku version of the mysql database
4. My strapi backend is also hosted on heroku, an

[2022-07-05 14:33] scottdevopsgithub commented on #122
PS I have a question for clarification...when you mentioned that the 'heroku app' cannot access my strapi instance.
1. Would the 'heroku app' you are referring to be my self-hosted chartbrew application that I have running on heroku?

[2022-07-05 18:10] razvanilin commented on #121
Glad to hear it's working! I'll close this issue for now 👍

[2022-07-05 18:10] #121 closed

[2022-07-06 15:22] scottdevopsgithub opened #123 "Exporting to pdf ?"
I saw this pdf export option mentioned on the website. I checked/searched the chartbrew repo, and also the docs, and didnt really see too much about it. I know you can do a print preview, and choose a PDF export that way.  But I was thinking there would be an option on a popup menu that says "Export to PDF'.

![image](https://user-images.githubusercontent.com/96550228/177586054-664ad258-c011-4ff2-

[2022-07-06 15:25] scottdevopsgithub opened #124 "small screen artifact"
I know this is a small thing, but wanted to mention it.  Now that I have things up and running, I noticed there is an image? overlaying the text behind it as I highlighted in red in the attached screenshot.

![image](https://user-images.githubusercontent.com/96550228/177586711-3f4a0193-55b2-4a0d-9f4c-d15db4c9ef1e.png)

[2022-07-07 03:44] scottdevopsgithub commented on #122
OK, maybe something is still going wrong? I got the code deployed to heroku, and it is working better, but still now seeing a different kind of error. I setup all the API keys correctly and then attempted to create a new visualization in the chartbrew plugin, inside my (heroku) hosted strapi deployment.

Below is the error I am seeing happening. Just thought I would pass this along.

PS The reason

[2022-07-07 07:46] razvanilin commented on #123
Currently, it's only possible to export to PDF through the PDF viewer in each project. Can you let me know how you would expect this to work? This way I can get some new ideas about the usage as I'm not using the PDF export myself

[2022-07-07 08:02] razvanilin commented on #124
Thanks for reporting! This will be fixed as part of a big component design overhaul coming in v2 :)

[2022-07-07 08:04] razvanilin commented on #52
This has been fixed, forgot to close

[2022-07-07 14:40] scottdevopsgithub commented on #123
I mainly was just wondering, if there was supposed to an option to export to pdf, based on that screenshot. And if I just was missing it somehow.  I thought the option to export to pdf would just show up in the same menu where you see the export to excel option.

[2022-07-09 14:50] scottdevopsgithub opened #125 "Click on Chartbrew 1.22.1 - get a 404"
When in the Chartbrew dashboard, I clicked on the link that shows the version of Chartbrew (1.22.1) and it gave a 404 not found.

![image](https://user-images.githubusercontent.com/96550228/178110765-102ca5eb-a200-42bd-be19-0b71d76fad85.png)

[2022-07-10 10:51] razvanilin commented on #125
Thanks for reporting! This happens because there is no "v" before the version number. It's a weird behavior when building the front-end with a different version of NodeJS.  I think I'll just need to check if the V is there and add it if it's not (in the UI)

[2022-07-13 20:44] wesdobry opened #127 "Docker - latest & latest-arm64 failing"
[code]
The above error is presented when deploying the latest & latest-arm64 docker images.

Log:
[code]

Using this .env file mounted to /code/.env:

[code]

DB is another container running mysql  named 'chartbrew-db' with a database 'chartbrew' and db user of 'chartbrew'.

I'm not a strong nodejs person.  I've been digging through the code, but I can't ascertain where this might be coming from b

[2022-07-13 21:57] wesdobry commented on #127
Was able to replicate this on a standard install on Ubuntu, as well.

[code]

[2022-07-13 23:03] wesdobry commented on #127
Moving to node v14.20 appears to have corrected the issue on the standalone server.

[2022-07-14 07:45] razvanilin commented on #127
Thanks for reporting this @wesdobry !

I just had a look and it seems the latest version of [`serve`](https://github.com/vercel/serve/releases/tag/14.0.0) is not supporting NodeJS 12 anymore and the docker image is installing the latest version to run the client application.

Moving to NodeJS v14 is indeed the solution for this. I'll take a look over your PR

[2022-07-14 07:49] #127 closed

[2022-07-28 15:34] theaccordance opened #129 "Postgres Certificate Support"
## User Story
As a resource owner, I want to implement Chartbrew using a Postgres Database that requires SSL

## Details
The tech stack for my SaaS sandbox (`mainwaring.dev`) includes a managed Postgres DB cluster which is hosted on Digital Ocean.  DO requires SSL to connect to the database cluster.  I attempted to implement an self-hosted instance of Chartbrew using my existing DB cluster, but re

[2022-07-28 15:40] razvanilin commented on #129
The DB configuration doesn't currently allow SSL certificates and these can be added here: https://github.com/chartbrew/chartbrew/blob/master/server/models/models/index.js#L28

Some more details from Sequelize docs: https://sequelize.org/docs/v6/other-topics/dialect-specific-things/#postgresql

[2022-07-30 09:00] #129 closed

[2022-08-01 15:45] edleeman17 opened #131 "Help with nginx configuration"
Hey!

I was wondering whether you could help me?

I'm struggling to get Chartbrew working with my nginx configuration.

I have Chartbrew running in Docker + Docker Compose. I have cloned Chartbrew from the Github Repo

docker-compose.yml
[code]

nginx.conf
[code]

environment variables
[code]

I run `docker-compose build && docker-compose up`

Builds fine and spins up. However...

![image](https:/

[2022-08-01 17:07] razvanilin commented on #131
Just to double-check, are you trying to host Chartbrew on a subfolder path at `/charts`?

[2022-08-02 08:15] edleeman17 commented on #131
Correct, and the API on `chart-api`

[2022-08-02 08:33] razvanilin commented on #131
Gotcha

I haven't done that before, but I'm 99% sure that's not gonna work out of the box. Chartbrew needs to have a host without a path for both API and Client.

I don't know all the steps to make it work because I'm not familiar with nginx, but I can maybe point you in the right direction:

1. Change `REACT_APP_CLIENT_HOST`, `REACT_APP_API_HOST`, and `CB_API_HOST` to have the host and port only

[2022-08-12 06:17] ayush-wd opened #132 "No hover effect on button"
![image](https://user-images.githubusercontent.com/83002299/184295572-3b381e35-22e9-43ab-acd1-33489317aa9a.png)

The button mentioned in the screenshot above does not change its gradient when the cursor hovers over it unlike all other buttons with the same background.

I can solve this issue.

[2022-08-14 03:36] razvanilin commented on #132
Hey @ayush-wd appreciate your help with this, but chartbrew's landing page is not part of this open-source repository. The code is closed source and only the Chartbrew team can access it.

[2022-08-14 03:36] #132 closed

[2022-08-16 04:43] #123 closed

[2022-08-16 04:45] razvanilin commented on #119
closing this, but feel free to re-open if the issue persists

[2022-08-16 04:45] #119 closed

[2022-08-30 04:00] razvanilin opened #137 "Move NPM build step to Dockerfile"
The `npm build` command should be moved out of the `entrypoint` file and placed up in the `Dockerfile` to avoid long downtimes when updating the image

### Discussed in https://github.com/chartbrew/chartbrew/discussions/136

<div type='discussions-op-text'>

<sup>Originally posted by **justinmayer** August 26, 2022</sup>
Currently, there is an NPM build step for the client that takes place in the

[2022-09-11 15:21] theaccordance commented on #118
@razvanilin IF you were to consider federating authentication for your app, I would suggest OpenIDConnect as the protocol you implement.

Why OpenIDConnect?
* It's the successor to both OAuth (B2C federation) and SAML (B2B federation)
* It's still early in terms of adoption, but as an Okta customer (both work and my personal sandbox), I can configure integrations using the protocol.  Pretty sure o

[2022-09-20 11:17] Annoyimous commented on #108
Any timeline on this feature?

[2022-09-21 01:17] razvanilin commented on #108
Hey @Annoyimous unfortunately no timeline yet for this. Can you describe your use-case a bit? It will help with setting up an implementation plan

[2022-10-01 17:27] n84ck opened #139 "Integrate chartbrew into subdirectory"
Hello, Is there a chance to integrate chartbrew into domain subdirectory?
Example: www.xyz.com -> normal webpage www.xyz/chartbrew -> chartbrew.

[2022-10-02 10:28] razvanilin commented on #139
Hey @n84ck, I haven't done it myself, but this might help: https://css-tricks.com/how-to-serve-a-subdomain-as-a-subdirectory/

So the main points:
1. Run Chartbrew normally on a subdomain first
2. Use one of the methods in the article above to redirect the subdomain to a subdirectory

I use Cloudflare for this kind of use case for Chartbrew's blog and it works wonders: https://chartbrew.com/blog

[2022-10-02 18:56] n84ck commented on #139
Hi @razvanilin, I will try it, but currently I'm struggling with the official Docker image. I can't serve the website behind a domain, because the frontend. It send the requests to address http://localhost:4019. The REACT_APP_API_HOST variable doesn't help. Should I rebuild the docker image?
![image](https://user-images.githubusercontent.com/43924278/193471130-2b23675e-a2d5-46db-9b26-7385fdf4812f.

[2022-10-03 01:22] razvanilin commented on #139
you will need to change the variable to your actual domain where you host your backend. Following your examples above, you could run the backend on a subdomain like `www.api.xyz.com`, then change the `REACT_APP_API_HOST` to `www.api.xyz.com`

[2022-10-04 17:15] n84ck commented on #139
I tried with docker-compse as you can see on the attached image. The client still wants to connect to localhost.

![image](https://user-images.githubusercontent.com/43924278/193883166-850c50f1-8027-4a04-922c-6c5243017fef.png)

[2022-10-05 02:07] razvanilin commented on #139
Can you check if the client app has been rebuilt? The variable gets set only if the client is rebuilt using the new environmental variables. This command from the Dockerfile needs to run again: https://github.com/chartbrew/chartbrew/blob/master/Dockerfile#L10

[2022-10-05 04:17] n84ck commented on #139
This image is pulled from your official docker container registry, there is no source code and building process: https://hub.docker.com/r/razvanilin/chartbrew
If I understood correctly, your official image is only usable for local host?

[2022-10-05 04:42] razvanilin commented on #139
I just had a look over this and it seems the UI is not rebuilt when pulling from docker, which means the new variables are not updated in the frontend app. I'll update this in the next version, but for now you can rebuild the app manually like this:

[code]

[2022-10-08 01:25] expatiating opened #140 "Email REGEX validation is too restrictive"
The email validation REGEX does not allow modern "not-com" top level domains. See https://www.iana.org/domains/root/db

[2022-10-08 03:00] #140 closed

[2022-10-08 03:00] #137 closed

[2022-10-09 04:36] pcgeek86 opened #142 "🐛 [BLOCKING] Chartbrew front-end uses incorrect DNS name to access API service"
### Summary

The React web UI for Chartbrew attempts to access the API using `localhost` instead of the configured API server's DNS name.

This causes the sign-up process to fail, and I cannot proceed beyond the Chartbrew login screen

### Repro Steps

- **Device**: ODROID M1 (ARM64)
- **Operating System**: Ubuntu 22.04
- **Docker Engine**: Docker 20.10.12

I created a MySQL server in Docker, usin

[2022-10-09 05:10] pcgeek86 opened #143 "New data source: InfluxDB 📈"
I use InfluxDB to store time-series data (metrics). It would be great to see a connection adapter for Chartbrew to consume data points from InfluxDB.

[2022-10-09 07:54] Meldiron opened #144 "New data source: Appwrite 🎀"
[Appwrite](https://appwrite.io/) is a backend as a service, similar to Supabase or Firebase, and has over 25k stars on GitHub. I would love to see an adapter for it in Chartbrew.

[2022-10-09 08:31] razvanilin commented on #142
Hey @pcgeek86 issue is that the front-end application needs to be rebuilt. This step is necessary when changing the environmental variables.

It wasn't like this in previous versions, but the build command has been moved in the Dockerfile to avoid downtimes when restarting the container (because otherwise the build command would run at every restart).

To rebuild the frontend, you can run the foll

[2022-10-09 08:48] razvanilin commented on #144
Hey @Meldiron good suggestion! Not sure exactly when I'll have time to work on this though. If there's enough interest I can prioritize it.

Meanwhile, you can use the REST API to fetch data from Appwrite: https://appwrite.io/docs/server/users

[2022-10-10 00:03] waveywaves opened #145 "Investigate increasing developer productivity with pull requests environments"
I would like to make life easier for existing and new Chartbrew contributors including maintainers by implementing [Uffizzi](https://uffizzi.com/) previews.
Disclaimer: I work on Uffizzi
Uffizzi is a Open Source full stack previews engine and is free for Chartbrew. This will provide newcomers with previews of their PRs in the cloud, allowing them iterate faster, without having to first set up a co

[2022-10-11 08:36] razvanilin commented on #108
No timeline for this unfortunately. Can you describe your use case a bit?
That will help with putting together an implementation plan

On Tue, 20 Sep 2022 at 18:17, Annoyimous ***@***.***> wrote:

--
*razvanilin.com* <http://razvanilin.com>

[2022-10-24 06:31] matthewdenison opened #146 "CB_DB_PORT not documented correctly in Docker instructions"
Hi, I was trying to connect to a MySQL server using the Chartbrew Docker image. My first-time experience was really smooth except for one minor issue. In the documentation located at https://docs.chartbrew.com/deployment/#run-the-application-with-docker it says you can append the port number to the host address but that doesn't work. After looking at https://github.com/chartbrew/chartbrew/blob/mas

[2022-10-25 10:04] razvanilin commented on #146
Thanks for spotting this, will fix soon 👌

[2022-11-23 10:35] #146 closed